@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-[#fef6e2];
  @apply bg-[url('/images/bg.svg')];
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
}

#head {
  text-shadow: black 0.1em 0.1em 0.2em;
}

h1,
h2 {
  font-family: Merriweather, serif;
}

footer {
  background-color: #112d3b;
}
