@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-[#ededed];
  @apply bg-[url('/images/bg.svg')];
  font-family: var(--font-roboto);
  color: #2c2c2c;
}

h1,
h2 {
  font-family: var(--font-playfair);
  color: #191919
}

footer {
  background-color: #112d3b;
}
